<span class="microdata" itemscope itemtype="http://schema.org/Person">
  <span itemprop="givenName">Vincent</span>
  <span itemprop="familyName">Boutour</span>
  <span itemprop="jobTitle">Front-end Developer</span>
  <span itemprop="url">https://vibioh.fr</span>
  <span itemprop="sameAs">https://twitter.com/ViBiOh</span>
  <span itemprop="sameAs">https://github.com/ViBiOh</span>
  <span itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
    <span itemprop="name">Universite Paris Descartes</span>
    <span itemprop="url">http://parisdescartes.fr</span>
  </span>
  <span itemprop="nationality" itemscope itemtype="http://schema.org/Country">
    <span itemprop="name">France</span>
  </span>
  <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">MeilleursAgents.com</span>
  </span>
</span>
{{> BreadcrumbList.html}}
