<section class="full">
  <h2 title="Works">{{> twemoji_rocket.html}}</h2>
  <ol>
    {{#work}}
      <li itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <h3>
          {{position}} @<a href="{{website}}" target="_blank" rel="noopener noreferrer"><span itemprop="name">{{company}}</span></a>.
        </h3>
        <span class="informations">
          {{#summary}}
            <label class="toggle" for="{{company}}">
              {{#endDate}}
                {{startDate}} - {{endDate}}
              {{/endDate}}
              {{^endDate}}
                since {{startDate}}
              {{/endDate}}
              <span></span>
            </label>
            <input id="{{company}}" type="checkbox">
            {{#highlights}}
              #{{.}}
            {{/highlights}}
            <span></span>
            <p itemprop="description">{{{summary}}}</p>
          {{/summary}}
        </span>
      </li>
    {{/work}}
  </ol>
</section>