<section id="work" class="section full">
  <h2 title="Works">{{> twemoji_rocket.html}}</h2>

  <ol class="flex-grow">
    {{#work}}
      <li itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
        <h3>
          @<a href="{{website}}"><span itemprop="name">{{company}}</span></a> - {{position}}
        </h3>

        <span class="tags">
          {{#highlights}}
            #{{.}}
          {{/highlights}}
        </span>

        <span class="informations">
          {{#summary}}
            <input id="{{id}}" type="checkbox" class="toggler" tabindex="-1">
            <label class="toggle" for="{{id}}" tabindex="0" onkeydown="toggleKeyboard(event)" role="button">
              {{#endDate}}
                {{startDate}} - {{endDate}}
              {{/endDate}}
              {{^endDate}}
                since {{startDate}}
              {{/endDate}}
              <span></span>
            </label>
            {{#duration}}
              ({{duration}})
            {{/duration}}
            <p itemprop="description">{{{summary}}}</p>
          {{/summary}}
        </span>
      </li>
    {{/work}}
  </ol>
</section>
