<section class="full">
  <h2 title="Works">{{> twemoji_rocket.html}}</h2>
  <ol>
    {{#work}}
      <li>
        <em>
          {{#endDate}}
            {{startDate}} - {{endDate}}
          {{/endDate}}
          {{^endDate}}
            since {{startDate}}
          {{/endDate}}
        </em>
        <h3>
          {{position}} @<a href="{{website}}" target="_blank" rel="noopener noreferrer">{{company}}</a>.
        </h3>
        <span class="informations">
          {{#summary}}
            <label class="toggle" for="{{company}}">Details</label>
            <input id="{{company}}" type="checkbox">
            {{#highlights}}
              #{{.}}
            {{/highlights}}
            <span></span>
            <p>{{{summary}}}</p>
          {{/summary}}
        </span>
      </li>
    {{/work}}
  </ol>
</section>