@charset 'UTF-8';

@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css');

:root {
  --dark: #3a3a3a;
  --clear: #f8f8f8;
  --img-size: 4rem;
  --emoji-size: 10rem;
  --label-size: 20rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--dark);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Nue", sans-serif;
  font-size: 62.5%;
}

.body {
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: 1.6rem;
  width: 100vw;
}

.header {
  align-content: center;
  align-items: center;
  background-color: var(--dark);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  width: 30rem;
}

.header img {
  border-radius: 50%;
  box-shadow: 0 0 1rem white;
  height: 15rem;
  margin-bottom: 2rem;
}

h1,
.article h2 {
  margin: 0;
  text-align: center;
  width: 100%;
}

h1,
strong {
  color: var(--clear);
}

.article > h2 {
  animation: BackgroundColor 30s ease infinite;
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 400% 400%;
  color: var(--clear);
  height: calc(3rem * 2 + 2.4rem);
  padding: 3rem;
}

@keyframes BackgroundColor {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.title {
  text-align: center;
}

.title a, .title a:hover, .title a:visited, .title a:active, .title a:focus {
  text-decoration: none;
  color: inherit;
}

.title a > svg {
  height: var(--img-size);
  width: var(--img-size);
}

.article {
  align-items: stretch;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  align-items: center;
  background-color: white;
  display: inline-flex;
  flex: 1 1;
  flex-basis: 100%;
  flex-wrap: nowrap;
  padding: 2rem 0;
}

.section:nth-child(2n+0) {
  background-color: whitesmoke;
}

.section > h2 {
  align-items: center;
  display: flex;
  height: 15rem;
  justify-content: center;
  margin: 2rem auto;
  width: 15rem;
}

.section > h2 > svg {
  height: var(--emoji-size);
}

ol {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem;
}

#github g {
  fill: var(--clear);
}

.informations {
  display: inline-block;
  margin-top: 0.2rem;
}

.item, label.toggle {
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.item {
  border: 0.1rem solid var(--dark);
  margin-top: 0.2rem;
}

label.toggle {
  align-items: center;
  display: flex;
  background-color: var(--dark);
  color: var(--clear);
  cursor: pointer;
  justify-content: space-between;
  width: var(--label-size);
}

.microdata,
label.toggle + input,
label.toggle + input + span,
label.toggle + input + span + p {
  display: none;
}

label.toggle > span {
  border-top: 1rem solid var(--clear);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  display: inline-block;
  height: 0;
  width: 0;
}

label.toggle + input:checked + span {
  border-bottom: 1rem solid var(--dark);
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  display: block;
  height: 0;
  margin-left: calc((var(--label-size) - 1rem) / 2);
  margin-top: 0.5rem;
  width: 0;
}

label.toggle + input:checked + span + p {
  background-color: var(--dark);
  border-radius: 0.2rem;
  color: var(--clear);
  display: block;
  padding: 1rem;
}

label.toggle + input:checked + span + p a {
  color: var(--clear);
}

@media screen and (min-width: 801px) {
  .body,
  .header,
  .article {
    height: 100vh;
  }

  .article {
    flex: 1 1;
    overflow: auto;
  }

  .section {
    flex-basis: auto;
  }

  .section.full {
    flex-basis: 100%;
    width: 100%;
  }

  .section > h2 {
    margin: 2rem;
  }

  .section > ol {
    flex: 1 1;
  }
}

@media screen and (max-width: 800px) {
  .body {
    flex-wrap: wrap;
  }

  .header {
    padding: 1rem;
  }

  .header img {
    display: none;
  }

  .header, ol {
    width: 100%;
  }

  .article > h2 {
    padding: 1rem;
  }

  .section {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    flex-basis: 50%;
    width: 50%;
  }
}

@media print {
  .body::after {
    content: 'Save ink, share link. Save paper, use browser. https://vibioh.fr';
  }

  .body > * {
    display: none;
  }
}
