@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@dark: #3A3A3A;
@clear: #F8F8F8;
@img-size: 40px;

@charset 'UTF-8';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  .flex-no-wrap;
  width: 100vw;
}

header {
  .flex-wrap;
  align-content: center;
  background-color: @dark;
  color: @clear;
  justify-content: center;
}

h1,
article > h2 {
  margin: 0;
  text-align: center;
  width: 100%;
}

header a,
header a:hover,
header a:visited,
header a:active,
header a:focus {
  text-decoration: none;
  color: inherit;
}

header > a > svg {
  height: @img-size;
  width: @img-size;
}

article {
  .flex-wrap;
  justify-content: center;
}

section {
  .flex-no-wrap;
  flex: 1 1 100%;
}

section > h2 {
  font-size: 5em;
  text-align: center;
}

ol {
  list-style: none;
  padding: 0;
}

article > h2,
ol > li {
  padding: 10px;
}

@media screen and (min-width: 801px) {
  body,
  header,
  article {
    height: 100vh;
  }

  article {
    flex: 1 1;
    overflow: auto;
  }

  section {
    flex-basis: auto;
  }

  section.full {
    flex-basis: 100%;
  }

  section > h2 {
    display: inline-block;
    width: 180px;
  }

  section > ol {
    flex: 1 1;
  }
}

@media screen and (max-width: 800px) {
  body {
    flex-wrap: wrap;
  }

  header,
  ol,
  section > h2 {
    width: 100%;
  }

  section {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1280px) {
  section {
    flex-basis: 50%;
  }
}

.flex-wrap {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.flex-no-wrap {
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
}

#github g {
  fill: @clear;
}

.microdata {
  display: none;
}

label.toggle {
  cursor: pointer;
  margin-left: 5px;
}

label.toggle + input {
  display: none;
}

label.toggle + input + p {
  display: none;
}

label.toggle + input:checked + p {
  display: block;
  margin-top: 5px;
}