@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@dark: #3a3a3a;
@clear: #f8f8f8;
@img-size: 40px;
@emoji-size: 100px;

@charset 'UTF-8';

* {
  box-sizing: border-box;
  margin: 0;
  color: @dark;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  .flex-no-wrap;

  font-size: 1.6rem;
  width: 100vw;
}

header {
  .flex-wrap;

  align-content: center;
  background-color: @dark;
  justify-content: center;
}

h1,
article > h2 {
  margin: 0;
  text-align: center;
  width: 100%;
}

h1,
strong {
  color: @clear;
}

header a,
header a:hover,
header a:visited,
header a:active,
header a:focus {
  text-decoration: none;
  color: inherit;
}

header > a > svg {
  height: @img-size;
  width: @img-size;
}

article {
  .flex-wrap;

  justify-content: center;
}

section {
  .flex-no-wrap;

  flex: 1 1 100%;
}

section > h2 {
  text-align: center;
}

section > h2 > svg {
  height: @emoji-size;
}

ol {
  list-style: none;
  padding: 0;
}

article > h2,
ol > li {
  padding: 0.5rem;
}

@media screen and (min-width: 80.1rem) {
  body,
  header,
  article {
    height: 100vh;
  }

  article {
    flex: 1 1;
    overflow: auto;
  }

  section {
    flex-basis: auto;
  }

  section.full {
    flex-basis: 100%;
  }

  section > h2 {
    display: inline-block;
    width: 18rem;
  }

  section > ol {
    flex: 1 1;
  }
}

@media screen and (max-width: 80rem) {
  body {
    flex-wrap: wrap;
  }

  header {
    padding: 1rem;
  }

  header,
  ol,
  section > h2 {
    width: 100%;
  }

  section {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 128rem) {
  section {
    flex-basis: 50%;
  }
}

@media print {
  body::after {
    content: 'Save ink, share link.';
  }

  body > * {
    display: none;
  }
}

.flex-wrap {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.flex-no-wrap {
  align-items: center;
  display: inline-flex;
  flex-wrap: nowrap;
}

#github g {
  fill: @clear;
}

.informations {
  display: inline-block;
  margin-top: 0.2rem;
}

.item,
label.toggle {
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.item {
  border: 0.1rem solid @dark;
  margin-top: 0.2rem;
}

label.toggle {
  background-color: @dark;
  color: @clear;
  cursor: pointer;
  text-align: center;
  width: 15rem;
}

.microdata,
label.toggle + input,
label.toggle + input + span,
label.toggle + input + span + p {
  display: none;
}

label.toggle + input:checked + span {
  border-bottom: 1rem solid @dark;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  display: block;
  height: 0;
  margin-left: 6.5rem;
  margin-top: 0.5rem;
  width: 0;
}

label.toggle + input:checked + span + p {
  background-color: @dark;
  border-radius: 0.2rem;
  color: @clear;
  display: block;
  padding: 1rem;
}
