@charset 'UTF-8';

@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.css');

:root {
  --dark: #3a3a3a;
  --clear: #f8f8f8;
  --img-size: 4rem;
  --emoji-size: 10rem;
  --label-size: 22rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--dark);
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Nue", sans-serif;
  font-size: 62.5%;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
}

h1,
h2 {
  margin: 0;
  text-align: center;
  color: var(--clear);
}

ol {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem;
}

strong {
  color: var(--clear);
}

.body {
  -webkit-overflow-scrolling: touch;
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
}

.header {
  align-content: center;
  align-items: center;
  background-color: var(--dark);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 1rem var(--clear);
  display: none;
  height: 15rem;
  margin-bottom: 2rem;
}

.header svg {
  height: var(--img-size);
  width: var(--img-size);
}

.article {
  overflow-y: auto;
}

.job-title {
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  color: var(--clear);
  padding: 2rem;
}

.section {
  align-items: center;
  background-color: white;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  width: 100%;
}

.section:nth-child(2n+0) {
  background-color: whitesmoke;
}

.section > h2 {
  margin: 2rem;
  width: 100%;
}

.section > h2 > svg {
  width: var(--emoji-size);
}

.informations {
  display: inline-block;
  margin-top: 0.2rem;
}

.item,
.toggle {
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.item {
  border: 0.1rem solid var(--dark);
  margin-top: 0.2rem;
}

.tags {
  display: block;
  margin-top: 0.2rem;
}

@media screen and (min-width: 901px) {
  .body {
    display: flex;
  }

  .header {
    height: 100%;
    width: 30rem;
  }

  .avatar {
    display: block;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
  }

  .section,
  .section > h2 {
    width: auto;
  }
}

.toggler {
  display: none;
}

.toggle {
  align-items: center;
  background-color: var(--dark);
  color: var(--clear);
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  width: var(--label-size);
}

.toggler + .toggle + p {
  display: none;
}

.toggle > span {
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  border-left: 1rem solid var(--clear);
  display: inline-block;
  height: 0;
  transition: rotate 0.5s ease-in-out;
  width: 0;
}

.toggler:checked + .toggle > span {
  rotate: 90deg;
}

.toggler:checked + .toggle + p {
  background-color: var(--dark);
  border-radius: 0.2rem;
  color: var(--clear);
  display: block;
  margin-top: 0.5rem;
  padding: 1rem;
}

.toggler:checked + .toggle + p a {
  color: var(--clear);
}

.flex-grow {
  flex: 1 1;
}

.full {
  width: 100%;
}

.microdata {
  display: none;
}

@media print {
  .body::after {
    content: 'Save ink, share link. Save paper, use browser. https://vibioh.fr';
  }

  .body > * {
    display: none;
  }
}
